// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.burger {
    position: relative;
    z-index: 1;
    padding: 0;
    display: inline-block;
    width: 50px;
    line-height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 4px 13px rgba(0, 0, 0, .06);
    transition: box-shadow $transition-time;
    cursor: pointer;
    user-select: none;

    &:focus,
    &:hover {
        outline: none;
        box-shadow: 2px 4px 13px rgba(0, 0, 0, .1);
    }

    > span {
        position: relative;
        // stylelint-disable-line  selector-combinator-blacklist
        display: inline-block;
        width: 18px;
        height: $toggler-part-height;
        font-size: 0;
        vertical-align: middle;
        color: transparent;
        background: $toggler-part-bg-color;
        transition: background $transition-time $transition-time;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 18px;
            height: $toggler-part-height;
            background: $toggler-part-bg-color;
            transition: top $transition-time $transition-time, transform $transition-time;
            transform-origin: 50% 50%;
        }

        &::before {
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }

    &--close {
        > span {
            background: transparent;
            // stylelint-disable-line  selector-combinator-blacklist
            transition: background $transition-time 0s;

            &::before,
            &::after {
                top: 0;
                transition: top $transition-time, transform $transition-time $transition-time;
            }

            &::before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &::after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}
