mixin catalog(data)
    section.catalog(data-sticky-container)
        .catalog__container

            .catalog__row

                .catalog__menu
                    +catalog-menu



                .catalog__descr
                    h2.catalog__title Контрактное производство

                    .catalog__text
                        p <strong>ООО «Бумфа Групп»</strong> выражает Вам свое почтение и хочет предложить плодотворное и взаимовыгодное сотрудничество!

                        p Наше предприятие имеет возможность изготовить для Вас продукцию в индивидуальной упаковке под Вашей торговой маркой. ООО «Бумфа Групп»-крупнейший в России производитель изделий косметического и санитарно-гигиенического назначения. Продукция ООО «Бумфа Групп» представляет собой более 100 наименований в категориях: ватные диски, ватные папочки, влажные, косметические салфетки, бумажные сервировочные салфетки, бумажные платочки.

                    //+catalog-descr


