// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.js-modal-open {
    overflow: hidden;
}

.modal {
    $block-name: &; // #{$block-name}__element

    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    &__dialog {
        position: relative;
        margin: 0;
        width: 100%;
        flex-shrink: 0;

        @media (min-width: $screen-lg) {
            margin: auto;
            width: 600px;

            #{$block-name}--open & {
                animation: modal-content-show $transition-time 1 both;
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                padding: 2em 0;
            }
        }
    }

    &__content {
        position: relative;
        display: flex;
        min-width: 100%;
        min-height: 100%;
        flex-direction: column;
        background-color: #ffffff;
        outline: 0;
    }

    &__header {
        padding: 0 40px 0 15px;
        flex-shrink: 0;
    }

    &__title {
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: $font-size-h4;
        line-height: 1.2;
        font-weight: 700;
        color: currentColor;
    }

    &__close {
        position: absolute !important; // stylelint-disable-line  declaration-no-important
        top: 5px;
        right: 5px;
    }

    &__body {
        padding: 0 15px;
        flex-grow: 1;
    }

    &__footer {
        padding: 15px;
        flex-shrink: 0;
    }

    &__backdrop {
        position: fixed;
        z-index: ($z-index-modal - 1);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, $opacity);

        @media (min-width: $screen-lg) {
            animation: modal-backdrop-show $transition-time 1;
        }
    }

    .js-modal-open & {
        overflow-x: hidden;
        overflow-y: auto;
    }

    &--open {
        @media (min-width: $screen-lg) {
            display: flex;
            align-items: center;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                align-items: flex-start;
            }
        }
    }
}

@keyframes modal-backdrop-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modal-content-show {
    0% {
        opacity: 0;
        transform: translateY(-2em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal--menu {
    .modal__header {
        display: none;
    }

    .modal__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-menu {
        padding: 60px 0 40px;
        flex-wrap: wrap;
    }

    .header-menu__item {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
    }

    .header-menu__link {
        font-size: 20px;

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .header-menu__content {
        @include nl;

        padding: 20px 40px;
        display: none;
        background-color: #fafafa;
    }

    .header-menu__content-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 2;
        font-weight: 500;
        text-decoration: none;
        color: #353535;

        &:hover {
            color: #9d4dd6;
        }
    }

    .header-menu__content-img {
        margin-left: 10px;
        max-width: 30px;
    }
}

.modal--catalog {
    z-index: 102;

    .modal__dialog {
        width: 100%;
        height: 100%;
    }

    .modal__content {
        background-color: #fdf8ff;
    }

    .modal__header {
        padding: 40px 0 0;

        @include container();
    }

    .modal__close {
        top: 15px;
        right: 15px;
        width: 45px;
        height: 45px;
        background-image: svg-load('times.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 25px 25px;
        cursor: pointer;
    }

    .modal__title {
        margin-bottom: 30px;
        padding-top: 75px;
        font-size: 25px;
        font-weight: 600;
        color: #444344;

        @include min($screen-md) {
            display: none;
        }
    }

    .modal__body {
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
}
