extends templates/_template


block head
    +head(head.blogHead)

block content
    +header
    .blog-wrapper
        .container
            +breadcrumbs('blog')
                +breadcrumbs-item('Главная', '/')
                +breadcrumbs-item('Новости')

        +blog
