extends templates/_template


block head
    +head(head.main) 

block content
    +header
    .container
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/')
            +breadcrumbs-item('Контрактное производство')

    +production

