extends templates/_template


block head
    +head(head.vacanciesHead)

block content
    -var name = 'vacancies'

    +header
    .vacancies-wrapper
        .container
            +breadcrumbs('blog')
                +breadcrumbs-item('Главная', '/')
                +breadcrumbs-item('Вакансии')

        +vacancies
