mixin territory(data)
    section.territory

        .territory__container

            h2.territory__title Наши территории

            .territory__item
                h3.territory__subtitle Офис в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Демиденко, д. 157 Г

                .territory__map
                    +embed-responsive('contacts')
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abe8954add13042655cb9dd030d07a5518f2ebe25755a03f296dc500b088006d1&amp;lang=ru_RU&amp;scroll=false"></script>


            .territory__item
                h3.territory__subtitle Производство в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Привокзальная, 16.

                .territory__map
                    +embed-responsive('contacts')
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7f39d912a318f7500e9a0e32d1d65923a9e6e3379395a190fe7ce7969d2d3093&amp;lang=ru_RU&amp;scroll=false"></script>


            .territory__item
                h3.territory__subtitle Производство в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Привокзальная, 16.

                .territory__map
                    +embed-responsive('contacts')
                        img(src="%=static=%img/assets/territory/img-1.jpg" alt="alt")


            .territory__item
                h3.territory__subtitle Производство в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Привокзальная, 16.

                .territory__map
                    +embed-responsive('contacts')
                        img(src="%=static=%img/assets/territory/img-2.jpg" alt="alt")
