mixin territory(data)
    section.territory

        .territory__container

            h2.territory__title Наши территории

            .territory__item
                h3.territory__subtitle Офис в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Демиденко, д. 157 Г

                .territory__map
                    +embed-responsive('contacts')
                        <iframe src="https://yandex.by/map-widget/v1/-/CKaauLNI" frameborder="1" allowfullscreen="true"></iframe>


            .territory__item
                h3.territory__subtitle Производство в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Привокзальная, 16.

                .territory__map
                    +embed-responsive('contacts')
                        <iframe src="https://yandex.by/map-widget/v1/-/CKaauLNI" frameborder="1" allowfullscreen="true"></iframe>


            .territory__item
                h3.territory__subtitle Производство в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Привокзальная, 16.

                .territory__map
                    +embed-responsive('contacts')
                        img(src="%=static=%img/assets/territory/img-1.jpg" alt="alt")


            .territory__item
                h3.territory__subtitle Производство в г. Черкесск:
                .territory__text
                    p 369000, Россия, Карачаево-Черкесская Республика, г. Черкесск, ул. Привокзальная, 16.

                .territory__map
                    +embed-responsive('contacts')
                        img(src="%=static=%img/assets/territory/img-2.jpg" alt="alt")
