mixin personal(data)
    section.personal

        .personal__container

            h2.personal__title Личный кабинет

            .personal__row

                a(href="#").personal__item
                    .personal__wrap
                        p.personal__text История сотрудничества


                a(href="#").personal__item
                    .personal__wrap
                        p.personal__text Настройки


            a(href="#").btn.btn--white.btn--border Выйти
