// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.btn {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: visible;
    width: 100%;
    max-width: 230px;
    height: 58px;
    justify-content: center;
    align-items: center;
    //color: inherit;
    font: inherit;
    font-size: 14px;
    line-height: 1;
    text-align: inherit;
    text-decoration: none;
    background: transparent;
    border: none;
    transition: $transition-time;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    @include min($screen-xl) {
        max-width: 270px;
        height: 67px;
        font-size: 17px;
    }
}

.btn--purple {
    color: #ffffff;
    background-color: #9d4dd6;

    &:hover,
    &:focus {
        background-color: #732ea5;
        outline: none;
    }
}

.btn--white {
    font-size: 15px;
    font-weight: 400;
    color: #444344;
    background-color: #ffffff;
    box-shadow: 15px 15px 35px rgba(#a3a3a3, .29);

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: #a35cd6;
    }
}

.btn--icon-arrow {
    &::after {
        content: '';
        margin-left: 15px;
        width: 15px;
        height: 20px;
        background-image: svg-load('arrow-right.svg', fill= '#fff');
        background-repeat: no-repeat;
    }
}

.btn--icon-back {
    &::before {
        content: '';
        margin-right: 15px;
        width: 15px;
        height: 20px;
        background-image: svg-load('arrow-right.svg', fill= '#fff');
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }
}

.btn--transparent {
    font-size: 14px;
    color: #2e2e2e;

    @include min($screen-lg) {
        font-size: 17px;
    }

    &:hover,
    &:focus {
        box-shadow: 15px 15px 35px rgba(#a3a3a3, .29);
    }
}

.btn--border {
    border: 1px solid #bdbdbd;
    box-shadow: none;

    &:hover {
        border: 1px solid #a35cd6;
    }
}
