mixin vacancies(data)
    section.vacancies

        .vacancies__container

            h2.vacancies__title Вакансии

            .vacancies__wrapper

                h3.vacancies__subtitle Управляющие должности


                .vacancies__row

                    .vacancies__item

                        .vacancies__item-wrap

                            h4.vacancies__item-title Руководитель отдела маркетинга

                            ul.vacancies__item-list
                                li.vacancies__item-item Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения
                                li.vacancies__item-item Идейные соображения высшего порядка
                                li.vacancies__item-item Также реализация намеченных плановых требуют от нас анализа модели развития.


                            .vacancies__item-btn
                                a(href="#form" data-toggle="modal").btn.btn--white Оставить заявку


                    .vacancies__item

                        .vacancies__item-wrap

                            h4.vacancies__item-title Руководитель отдела маркетинга

                            ul.vacancies__item-list
                                li.vacancies__item-item Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения
                                li.vacancies__item-item Идейные соображения высшего порядка
                                li.vacancies__item-item Также реализация намеченных плановых требуют от нас анализа модели развития.

                            .vacancies__item-btn
                                a(href="#form" data-toggle="modal").btn.btn--white Оставить заявку


            .vacancies__wrapper

                h3.vacancies__subtitle Персонал


                .vacancies__row

                    .vacancies__item

                        .vacancies__item-wrap

                            h4.vacancies__item-title Руководитель отдела маркетинга

                            ul.vacancies__item-list
                                li.vacancies__item-item Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения
                                li.vacancies__item-item Идейные соображения высшего порядка
                                li.vacancies__item-item Также реализация намеченных плановых требуют от нас анализа модели развития.


                            .vacancies__item-btn
                                a(href="#form" data-toggle="modal").btn.btn--white Оставить заявку

