mixin footer(data)
    footer.footer
        .footer__container

            .footer__grid

                .footer__left

                    .footer__block.footer__logo
                        a.footer__logo-link(href="#")
                            img(src="%=static=%img/assets/footer/logo-white.png" alt="alt")

                        .footer__text
                            p Производство косметической ватной продукции

                        a(href="#").footer__conf Политика конфиденциальности

                    .footer__block.footer__menu
                        h4.footer__title Навигация

                        .footer__menu-wrap

                            ul.footer__list

                                li.footer__item
                                    a(href="#").footer__link Главная

                                li.footer__item
                                    a(href="#").footer__link Каталог продукции

                                li.footer__item
                                    a(href="#").footer__link Контактное производство

                                li.footer__item
                                    a(href="#").footer__link О компании


                            ul.footer__list.footer__list--mobile

                                li.footer__item
                                    a(href="#").footer__link Вакансии

                                li.footer__item
                                    a(href="#").footer__link Дистрибьюция

                                li.footer__item
                                    a(href="#").footer__link Стать партнером

                                li.footer__item
                                    a(href="#").footer__link Новости

                            ul.footer__list.footer__list--mobile

                                li.footer__item
                                    a(href="#").footer__link Видео

                                li.footer__item
                                    a(href="#").footer__link Блог

                                li.footer__item
                                    a(href="#").footer__link Контакты

                                li.footer__item
                                    a(href="#").footer__link Личный кабинет


                    .footer__block.footer__contacts

                        h4.footer__title ООО "Бумфа Групп"


                        .footer__field
                            h5 Приемная
                            a(href="tel:+78782266366") +7 (8782) 26-63-66

                        .footer__field
                            h5 Вопросы и предложения
                            a(href="tel:88006005775") 8 (800) 600-57-75

                        .footer__field
                            h5 Email
                            a(href="mailto:bumfa@bumfa.ru") bumfa@bumfa.ru


                    .footer__block.footer__social

                        .footer__social-block

                            h4.footer__title Соц сети

                            .footer__social-wrap

                                a(href="#").footer__social-link
                                    != pugHelpers.Icon.call(locals, {iconName: "vk", className: "", iconWidth: "20", iconHeight: "20"})
                                a(href="#").footer__social-link
                                    != pugHelpers.Icon.call(locals, {iconName: "facebook-f", className: "", iconWidth: "20", iconHeight: "20"})
                                a(href="#").footer__social-link
                                    != pugHelpers.Icon.call(locals, {iconName: "instagram", className: "", iconWidth: "20", iconHeight: "20"})


                        .footer__dev
                            //-!= pugHelpers.Icon.call(locals, {iconName: "max", className: "", iconWidth: "40", iconHeight: "40"})
                            p Сайт создан агентством
                                =" "
                                a(href="#") Максимизатор




                .footer__right
                    ul.footer__list
                        li.footer__item
                            a(href="#").footer__link Вакансии

                        li.footer__item
                            a(href="#").footer__link Дистрибьюция

                        li.footer__item
                            a(href="#").footer__link Стать партнером

                        li.footer__item
                            a(href="#").footer__link Новости

                        li.footer__item
                            a(href="#").footer__link Видео

                        li.footer__item
                            a(href="#").footer__link Блог

                        li.footer__item
                            a(href="#").footer__link Контакты

                        li.footer__item
                            a(href="#").footer__link Личный кабинет





