mixin about-descr(data)
    .about-descr
        #about-video.about-descr__video
            +about-video

        #about-edge.about-descr__edge
            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "laptop-code", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title 21 век

                .about-descr__edge-text
                    p Постиндустриальное общество: высокая производительность, индустрия знаний, индустрия красоты, очередной виток урбанизации. Главным интенсивным фактором развития постиндустриального общества является человеческий капитал. Даже человек – это капитал! И вот в этом мире мы ищем и находим дорогу к нашему потребителю. Ведь наш товар – гигиеническая продукция – это то, что всегда будет необходимо любому современному человеку. За нашим рынком будущее, и мы четко видим нашу дорогу в ближайшие 15 лет.

            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "chart-line", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title За плечами уже немалый путь:

                .about-descr__edge-text
                    p «Бумфа Групп» - работает на Российском рынке санитарно-гигиенической продукции с 2001 года, с 2008 года работает на рынках стран СНГ. Сегодня « Бумфа Групп» - это высокотехнологичное предприятие, выпускающее продукцию на 2 производственных площадках Ставрополе и Черкесске. На площади в восемь тысяч квадратных метров производятся ватные диски и ватные палочки, влажные салфетки, бумажные салфетки и бумажные платочки. Всего - более 200 наименований, общим объемом более 200 миллионов единиц в год.

            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "cup", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title Мы первые в России

                .about-descr__edge-text
                    p Увидели возможности территории нашего расположения: ООО «Бумфа Групп», со своим стратегическим партнером, реализует проект выращивания селекционного хлопка на землях в Ставропольском крае. Хлопок, под контролем собственной лаборатории, проходит несколько циклов очистки и раскрытия волокон для получения качественного нетканого полотна. Современное оборудование ведущих компаний США и Европы позволяет исключить посторонние примеси,скопление узелков, неоднородность материала и делает продукцию по-настоящему белоснежной. Этот проект позволяет нам быть уверенными в экологичности и качестве исходного сырья и гарантирует высокое качество продукции уже с первого этапа.

            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "leaf-l", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title Уникальные источники и безопасные составы

                .about-descr__edge-text
                    p В производстве влажных салфеток любого вида - освежающих и для снятия макияжа, детских и гипоаллергенных - используются европейские ингридиенты пропиточной композиции, сертифицированные на территории Европейского и Таможенного союзов. Основа лосьонов - талая ледниковая вода знаменитого горного курорта Архыз, что дает оптимальное сочетание натуральности и гигиеничности. Применяемая упаковка дает гарантию сохранения всех свойств салфеток, в том числе и влажности до трех лет.


            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "award", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title Качество продукции

                .about-descr__edge-text
                    p «Бумфа Групп» подтвердили многочисленные исследования, одно из которых, например, проводилось специально по запросу компании «Beiersdorf» . в лабораториях Германии.


            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "file-certificate", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title Контракты

                .about-descr__edge-text
                    p «Бумфа Групп» подтвердили многочисленные исследования, одно из которых, например, проводилось специально по запросу компании «Beiersdorf» . в лабораториях Германии.



            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "truck", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title Дистрибьюция

                .about-descr__edge-text
                    p Продукция «Бумфа Групп» представлена в городах РФ с общей численностью 102 млн/чел (70% покрытия по населению), во всех субъектах РФ. Экспортные поставки осуществляются в: Беларусь, Казахстан, Узбекистан, Азербайджан, Армения, восточная Украина. Доставка осуществляется с 5 региональных терминалов в городах: Черкесск, Москва, Самара, Екатеринбург, Кемерово.


            .about-descr__edge-item.about-descr__edge-item--no-icon

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "truck", className: "", iconWidth: "20", iconHeight: "20"})
                    h4.about-descr__edge-title О компании в цифрах

                .about-descr__edge-text
                    p «Бумфа Групп» подтвердили многочисленные исследования, одно из которых, например, проводилось специально по запросу компании «Beiersdorf» . в лабораториях Германии.



        //#about-management.about-descr__management
        //    +about-management
