mixin about-descr(data)
    .about-descr
        #about-video.about-descr__video
            +about-video

        #about-edge.about-descr__edge
            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "laptop-code", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title 21 век

                .about-descr__edge-text
                    p Постиндустриальное общество: высокая производительность, индустрия знаний, индустрия красоты, очередной виток урбанизации. Главным интенсивным фактором развития постиндустриального общества является человеческий капитал. Даже человек – это капитал! И вот в этом мире мы ищем и находим дорогу к нашему потребителю. Ведь наш товар – гигиеническая продукция – это то, что всегда будет необходимо любому современному человеку. За нашим рынком будущее, и мы четко видим нашу дорогу в ближайшие 15 лет.

            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "laptop-code", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title За плечами уже немалый путь:

                .about-descr__edge-text
                    p Постиндустриальное общество: высокая производительность, индустрия знаний, индустрия красоты, очередной виток урбанизации. Главным интенсивным фактором развития постиндустриального общества является человеческий капитал. Даже человек – это капитал! И вот в этом мире мы ищем и находим дорогу к нашему потребителю. Ведь наш товар – гигиеническая продукция – это то, что всегда будет необходимо любому современному человеку. За нашим рынком будущее, и мы четко видим нашу дорогу в ближайшие 15 лет.

            .about-descr__edge-item

                .about-descr__edge-top
                    .about-descr__edge-icon
                        != pugHelpers.Icon.call(locals, {iconName: "laptop-code", className: "", iconWidth: "20", iconHeight: "20"})

                    h4.about-descr__edge-title Мы первые в России

                .about-descr__edge-text
                    p Постиндустриальное общество: высокая производительность, индустрия знаний, индустрия красоты, очередной виток урбанизации. Главным интенсивным фактором развития постиндустриального общества является человеческий капитал. Даже человек – это капитал! И вот в этом мире мы ищем и находим дорогу к нашему потребителю. Ведь наш товар – гигиеническая продукция – это то, что всегда будет необходимо любому современному человеку. За нашим рынком будущее, и мы четко видим нашу дорогу в ближайшие 15 лет.

