mixin about-menu(data)
    ul.about-menu.sticky(data-sticky-for="768" data-margin-top="20")
        li.about-menu__item
            a(href="#about-video" data-scroll).about-menu__link.smooth-scroll.gumshoe
                span.about-menu__text Видео о компании

        li.about-menu__item
            a(href="#about-edge" data-scroll).about-menu__link.smooth-scroll.gumshoe
                span.about-menu__text Наши преимущества

        li.about-menu__item
            a(href="#about-management" data-scroll).about-menu__link.smooth-scroll.gumshoe
                span.about-menu__text Менеджмент компании

        li.about-menu__item
            a(href="#about-gallery" data-scroll).about-menu__link.smooth-scroll.gumshoe
                span.about-menu__text Галерея
