.about-menu {
    padding: 0 15px;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 6px 10px 38px rgba(0, 0, 0, .06);
}

.about-menu__item.active {
    .about-menu__link {
        font-weight: 500;
        color: #9d4dd6;

        &::before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            width: 5px;
            height: 5px;
            vertical-align: middle;
            background-color: #b17ddf;
            border-radius: 50%;
        }
    }
}

.about-menu__link {
    padding: 18px 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    text-decoration: none;
    color: #353535;
    border-bottom: 1px solid #f6f6f6;
}

.about-menu__text {
}
