mixin production(data)
    section.production(data-sticky-container)
        .production__container

            .production__row

                .production__menu
                    +production-menu



                .production__descr
                    h2.production__title Контрактное производство

                    .production__text
                        p <strong>ООО «Бумфа Групп»</strong> выражает Вам свое почтение и хочет предложить плодотворное и взаимовыгодное сотрудничество!

                        p Наше предприятие имеет возможность изготовить для Вас продукцию в индивидуальной упаковке под Вашей торговой маркой. ООО «Бумфа Групп»-крупнейший в России производитель изделий косметического и санитарно-гигиенического назначения. Продукция ООО «Бумфа Групп» представляет собой более 100 наименований в категориях: ватные диски, ватные папочки, влажные, косметические салфетки, бумажные сервировочные салфетки, бумажные платочки.

                    +production-descr

