.catalog-menu__list {
    margin-bottom: 10px;
    //padding: 0 15px;
    background-color: #ffffff;
    border-radius: 7px;
}

.catalog-menu__item {
    //padding: 0 15px;

    &.active {
        .catalog-menu__link {
            font-weight: 500;
            color: #9d4dd6;
        }
    }

    &--last {
        /* stylelint-disable */

        .catalog-menu__link {
            border: 1px solid transparent;
            border-radius: 7px;
            transition: border $transition-time;

            &:hover,
            &:focus {
                border: 1px solid #9d4dd6;
                outline: none;

                span {
                    &:last-child {
                        border-bottom: 1px solid #888888;
                    }
                }
            }
        }
        /* stylelint-enable */
    }
}

.catalog-menu__img {
    overflow: hidden;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.catalog-menu__text {
    span {
        margin-left: 15px;
        font-weight: 500;

        &:first-child {
            display: block;
        }

        &:last-child {
            font-size: 14px;
            font-weight: 300;
            color: #888888;
            transition: border $transition-time;
        }
    }
}

.catalog-menu__link {
    padding: 18px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    text-decoration: none;
    color: #353535;
    border-bottom: 1px solid #f6f6f6;
}

.catalog-menu__icon {
    margin-right: 12px;
    flex-shrink: 0;
    color: #9d4dd6;
}
