mixin about-management(data)
    .about-management
        h3.about-management__title
            ul.about-management__list.about-management__list--big
                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Генеральный директор
                        span.about-management__name Шебзухов Аслан Эльмурзович

            ul.about-management__list.about-management__list--medium
                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Директор по персоналу
                        span.about-management__name Смирнова Екатерина Сергеевна
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru


                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Директор по персоналу
                        span.about-management__name Смирнова Екатерина Сергеевна
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru


                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Директор по персоналу
                        span.about-management__name Смирнова Екатерина Сергеевна
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru


                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Директор по персоналу
                        span.about-management__name Смирнова Екатерина Сергеевна
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru


            ul.about-management__list.about-management__list--small
                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж Сибирь и Дальний Восток
                        span.about-management__name Ирина Бурмина
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru

                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж СЗФО
                        span.about-management__name Лариса Савина
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru

                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж Сибирь и Дальний Восток
                        span.about-management__name Сергей Новоселов
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru

                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж СЗФО
                        span.about-management__name Денис Доценко
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru

                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж СЗФО
                        span.about-management__name Рашид Папшуов
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru

                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж Экспорт
                        span.about-management__name Александр Семенов
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru

                li.about-management__item
                    .about-management__wrap
                        .about-management__img
                            img(src="%=static=%img/assets/about-management/empty.png" alt="alt")
                        span.about-management__post Отдел продаж Экспорт
                        span.about-management__name Ирина Задорожная
                        .about-management__contacts
                            a(href="tel:+79632856284") +7 (963) 285-62-84
                            a(href="tel:+79632856284") +7 (8652) 667-810
                            a(href="mailto:SmirnovaES@bumfa.ru") SmirnovaES@bumfa.ru
