mixin about(data)
    section.about(data-sticky-container)
        .about__container

            .about__row

                .about__menu
                    +about-menu



                .about__descr
                    h2.about__title О компании Бумфа Групп


                    +about-descr

