mixin news(data)
    section.news

        .news__container

            .news__wrapper

                h2.news__title Вести России


                .news__video
                    +embed-responsive
                        <iframe src="https://www.youtube.com/embed/_sI_Ps7JSEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                .news__text
                    p Хлопок – это стратегическое сырье на нашем рынке.
                    p Информация с полей Ставрополья. Уборка хлопка 2019.

                a(href="blog.html").btn.btn--purple.btn--icon-back Вернуться назад
