.header__container {
    @include container();

    padding-top: 50px;
    padding-bottom: 50px;
}

.header__grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    //align-items: center;
}

.header__logo {
    max-width: 120px;
}

.header__text {
    margin-left: 20px;
    max-width: 330px;

    p {
        position: relative;
        padding-left: 20px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #9d4dd6;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: #dadada;
        }
    }
}
