mixin production-descr(data)
    .production-descr

        #disk.production-descr__wrap

            h3.production-descr__title Ватные диски

            .production-descr__text
                p Полный цикл производства-от закупки хлопка до упаковки готовой продукции. Ватные диски состоят из 100% хлопка ручного сбора и изготовлены при помощи гидроструйного метода, запатентованного ООО «Бумфа Групп». Технология производства Water Jet (переплетение волокон хлопка под давлением струй воды), по которой изготовлены диски, в сочетании с эффектом Super Edge (прошивка диска струей горячего воздуха) позволяют получить перфорированные края особой мягкости и добиться отсутствия ворсинок.

            .production-descr__spec

                .production-descr__img
                    .production-descr__img-wrap
                        img(src="%=static=%img/assets/production-descr/img-1.png" alt="alt")

                .production-descr__spec-block

                    h4.production-descr__subtitle Спецификация продукции
                    dl
                        dt Материал полотна:
                        dd 100 хлопок

                        dt Форма диска:
                        dd круглая, овальная, прямоугольная,
                        dd квадратная

                        dt Плотность:
                        dd 165g/m - 230h/m

                        dd Количество в упаковке:
                        dd 40-165 штук

                        dt Добавки:
                        dd -ватные диски с алое,
                        dd -ватные диски с ионами серебра

                        dt Эмбоссинг:
                        dd «ромб», «текстурный»

                        dd Перформирование по краю:
                        dd без перформирования,
                        dd с перформированием

                        dt Вид упаковки:
                        dd полиэтиленовый глянцевый пакет, полиэтиленовый матовый пакет, с веревочкой(любого цвета), с запайкой, с ZIP-LOCK

                        dt Срок годности:
                        dd не ограничен



        #stick.production-descr__wrap

            h3.production-descr__title Ватные палочки

            .production-descr__text
                p Полный цикл выращивания-от закупки хлопка до упаковки готовой продукции. Ватный аппликатор изготовлен из 100% хлопка и надежно зафиксирован на пластиковом стике. Эластичный пластиковый стик обеспечивает максимальное удобство использования ватной палочкой. Удобная функциональная упаковка позволяет с легкостью извлекать ватные палочки.

            .production-descr__spec

                .production-descr__img
                    .production-descr__img-wrap
                        img(src="%=static=%img/assets/production-descr/img-2.png" alt="alt")

                .production-descr__spec-block

                    h4.production-descr__subtitle Спецификация продукции
                    dl
                        dt Материал полотна:
                        dd 100% хлопок

                        dt Форма фитиля:
                        dd классическая, с ограничителем

                        dt Количество в упаковке:
                        dd 50 штук, 100 штук, 160 штук, 200 штук,
                        dd 300 штук, 400 штук

                        dt Вид упаковки:
                        dd полиэтиленовый пакет:
                        dd 100 штук, 160 штук, 200штук
                        dd полипропиленовая круглая банка:
                        dd 100 штук, 200штук
                        dd полипропиленовая прямоугольная банка:
                        dd 200штук, 50 штук (с ограничителем)
                        dd картонная прямоугольная коробка:
                        dd 200штук

                        dt Цвет стика:
                        dd белый, розовый

                        dt Срок годности:
                        dd не ограничен



        #napkin.production-descr__wrap

            h3.production-descr__title Влажные салфетки

            .production-descr__text
                p Влажные салфетки необходимый атрибут современной жизни. Салфетки изготовлены из высококачественного нетканого материала (спанлейса), пропитанного специальным лосьоном. Состав лосьона максимальным образом сбалансирован и разработан с целью не только решить вопрос гигиены, но и сделать процесс приятным и полезным для кожи

            .production-descr__spec

                .production-descr__img
                    .production-descr__img-wrap
                        img(src="%=static=%img/assets/production-descr/img-3.png" alt="alt")

                .production-descr__spec-block

                    h4.production-descr__subtitle Спецификация продукции
                    dl

                        dt Материал полотна:
                        dd Спанлейс

                        dt Плотность полотна:
                        dd 32 g/m - 50 g/m

                        dt Количество в упаковке:
                        dd 10-120 штук

                        dt Форма упаковки:
                        dd Big-pack:
                        dd -упаковка со стикером
                        dd -упаковка с клапаном
                        dd карманная упаковка со стикером

                        dt Структура полотна:
                        dd текстурная:
                        dd -соты
                        dd -перфорирование
                        dd -мишка
                        dd гладкая

                        dt Срок годности:
                        dd 3 года



        #wrap.production-descr__wrap

            h3.production-descr__title Бумажные платочки

            .production-descr__text
                p Платочки бумажные изготавливаются из 100% первичной целлюлозы, мягкая основа полотна обеспечивает деликатное очищение кожи. Карманный и герметичный формат упаковки позволяет использовать данный продукт в любых условиях. Возможна ароматизация основы, в основном используются ароматы цветов и трав, максимально приближенным к натуральным запахам флоры или парфюмеризация сложными композициями.

            .production-descr__spec

                .production-descr__img
                    .production-descr__img-wrap
                        img(src="%=static=%img/assets/production-descr/img-4.png" alt="alt")

                .production-descr__spec-block

                    h4.production-descr__subtitle Спецификация продукции
                    dl
                        dt Материал полотна:
                        dd 100 хлопок

                        dt Форма фитиля:
                        dd классическая, с ограничителем

                        dt Количество в упаковке:
                        dd 50 штук, 100 штук, 160 штук, 200 штук,
                        dd 300 штук, 400 штук

                        dt Плотность:
                        dd 165g/m - 230h/m

                        dt Добавки:
                        dd -ватные диски с алое,
                        dd -ватные диски с ионами серебра

                        dt Эмбоссинг:
                        dd «ромб», «текстурный»

                        dd Перформирование по краю:
                        dd без перформирования,
                        dd с перформированием

                        dt Вид упаковки:
                        dd полиэтиленовый глянцевый пакет, полиэтиленовый матовый пакет, с веревочкой(любого цвета), с запайкой, с ZIP-LOCK

                        dt Срок годности:
                        dd не ограничен



        #non-stop.production-descr__wrap

            h3.production-descr__title Бумажные салфетки(нон-стоп)

            .production-descr__text
                p Полный цикл выращивания-от закупки хлопка до упаковки готовой продукции. Ватный аппликатор изготовлен из 100% хлопка и надежно зафиксирован на пластиковом стике. Эластичный пластиковый стик обеспечивает максимальное удобство использования ватной палочкой. Удобная функциональная упаковка позволяет с легкостью извлекать ватные палочки.

            .production-descr__spec

                .production-descr__img
                    .production-descr__img-wrap
                        img(src="%=static=%img/assets/production-descr/img-5.png" alt="alt")

                .production-descr__spec-block

                    h4.production-descr__subtitle Спецификация продукции
                    dl
                        dt Материал полотна:
                        dd 100 хлопок

                        dt Форма фитиля:
                        dd классическая, с ограничителем

                        dt Количество в упаковке:
                        dd 50 штук, 100 штук, 160 штук, 200 штук,
                        dd 300 штук, 400 штук

                        dt Плотность:
                        dd 165g/m - 230h/m

                        dt Добавки:
                        dd -ватные диски с алое,
                        dd -ватные диски с ионами серебра

                        dt Эмбоссинг:
                        dd «ромб», «текстурный»

                        dd Перформирование по краю:
                        dd без перформирования,
                        dd с перформированием

                        dt Вид упаковки:
                        dd полиэтиленовый глянцевый пакет, полиэтиленовый матовый пакет, с веревочкой(любого цвета), с запайкой, с ZIP-LOCK

                        dt Срок годности:
                        dd не ограничен


        .production-descr__wrap

            h3.production-descr__title Контрактное производство

            .production-descr__text
                p Компания ООО «Бумфа Групп» предлагает Вам сотрудничество в производстве гигиенической продукции на контрактной основе с целью продвижения и поддержки Вашего бренда на рынке. Мы обеспечиваем выпуск продукции под Вашей собственной торговой маркой (Pгivate Label, гарантируем своевременное исполнение заказа, высокое качество продукции и оптимальное сочетание цены и качества.

            .production-descr__table(data-simplebar data-simplebar-auto-hide="false")
                table
                    tr
                        th Как это работает?
                        th Выполняет заказчик
                        th Выполняет исполнитель
                        th Сроки

                    tr
                        td Заполнение анкеты-брифа
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td
                        td

                    tr
                        td Разработка и согласование технического задания
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td до 3 недель

                    tr
                        td Согласование рецептуры (влажные салфетки)
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td от 2 до 6 недель

                    tr
                        td Разработка дизайна этикетки/упаковки
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td от 2 до 3 недель

                    tr
                        td Серийное производство
                        td
                        td
                            != pugHelpers.Icon.call(locals, {iconName: "leaf", className: "", iconWidth: "17", iconHeight: "17"})
                        td индивидуально


        .production-descr__wrap

            h3.production-descr__title Наши гарантии

            .production-descr__text
                ul
                    li Полное соблюдение технологической дисциплины
                    li Строгий контроль качества готовой продукци
                    li Соблюдение сроков реализации проекта
                    li Современная отгрузка готовой продукции
                    li Конкурентная цена услуг


        .production-descr__wrap

            h3.production-descr__title Ватная продукция

            .production-descr__table.production-descr__table--production(data-simplebar data-simplebar-auto-hide="false")
                table
                    tr
                        th Продукция
                        th Количество в упаковке
                        th Минимальная партия упаковки (на еденицу продукции)

                    tr
                        td Ватные диски (пакет с ZIP-LOCK)
                        td 40 / 50 / 80 / 100 / 120 / 150
                        td от 150 000

                    tr
                        td Ватные диски (пакет с запайкой)
                        td 40 / 50 / 80 / 100 / 120 / 150
                        td от 150 000

                    tr
                        td Ватные диски (пакет с веревочкой)
                        td 40 / 50 / 80 / 10
                        td от 150 000

                    tr
                        td Ватные диски (пакет с ZIP-LOCK)
                        td 40 / 50 / 80 / 100 / 120 / 150
                        td от 150 000

                    tr
                        td Ватные палочки(банка)
                        td 40 / 50 / 80 / 100 / 120 /
                        td от 150 000

                    tr
                        td Ватные диски (пакет с ZIP-LOCK)
                        td 40 / 50 / 80 / 100 / 120 / 150 / 150
                        td от 150 000




        .production-descr__wrap

            h3.production-descr__title Влажная продукция

            .production-descr__table.production-descr__table--production(data-simplebar data-simplebar-auto-hide="false")
                table
                    tr
                        th Продукция
                        th Количество в упаковке
                        th Минимальная партия упаковки (на еденицу продукции)

                    tr
                        td Влажные салфетки (big pack с клапаном)
                        td 80 / 100 / 120
                        td 75 000 / 65 000 / 66 000

                    tr
                        td Влажные салфетки (big pack с стикером)
                        td 40 / 50 / 80 / 100 / 120 / 150
                        td 96 000 / 111 000 / 78 000 / 46 000

                    tr
                        td Влажные салфетки (карманный формат)
                        td 40 / 50 / 80 / 10
                        td от 150 000

                    tr
                        td Влажные салфетки (банки)
                        td 40 / 50 / 80 / 100 / 120 / 150
                        td от 150 000

                    tr
                        td Ватные палочки(банка)
                        td 40 / 50 / 80 / 100 / 120 /
                        td от 150 000

                    tr
                        td Ватные диски (пакет с ZIP-LOCK)
                        td 40 / 50 / 80 / 100 / 120 / 150 / 150
                        td от 150 000


        .production-descr__wrap

            h3.production-descr__title Бумажная продукция

            .production-descr__table.production-descr__table--production(data-simplebar data-simplebar-auto-hide="false")
                table
                    tr
                        th Продукция
                        th Количество в упаковке
                        th Минимальная партия упаковки (на еденицу продукции)

                    tr
                        td Бумажные платочки (2 слойные)
                        td 10x10
                        td 250 000

                    tr
                        td Бумажные платочки (3 слойные)
                        td 6x10 / 10x10
                        td 294 000 / 250 000

                    tr
                        td Бумажные платочки нон-стоп (2 слойные)
                        td 80 / 100
                        td от 150 000

                    tr
                        td Бумажные платочки нон-стоп (3 слойные)
                        td 40 / 50 / 80 / 100 / 120 / 150
                        td от 150 000



