mixin main-catalog(data)
    section.main-catalog
        .main-catalog__container
            h2.main-catalog__title Каталог продукции <br>по брендам

            ul.main-catalog__list
                li.main-catalog__item
                    a(href="#").main-catalog__link(style="background-color: #d2005c;")
                        img(src="%=static=%img/assets/main-catalog/1.png" alt="alt")
                li.main-catalog__item
                    a(href="#").main-catalog__link(style="background-color: #945eca;")
                        img(src="%=static=%img/assets/main-catalog/2.png" alt="alt")
                li.main-catalog__item
                    a(href="#").main-catalog__link(style="background-color: #f754e1;")
                        img(src="%=static=%img/assets/main-catalog/3.png" alt="alt")
                li.main-catalog__item
                    a(href="#").main-catalog__link(style="background-color: #103740;")
                        img(src="%=static=%img/assets/main-catalog/4.png" alt="alt")
                li.main-catalog__item
                    a(href="#").main-catalog__link(style="background-color: #ffffff;")
                        img(src="%=static=%img/assets/main-catalog/5.png" alt="alt")
