mixin header-menu(data)
    ul.header-menu
        li.header-menu__item(class=(name === "index" ? "header-menu__item--active" : undefined))
            a(href="/").header-menu__link
                span Главная

        li.header-menu__item.header-menu__item--drop(class=(name === "catalog" ? "header-menu__item--active" : undefined))
            a(href="catalog.html").header-menu__link
                span Каталог
                != pugHelpers.Icon.call(locals, {iconName: "angle-down", className: "", iconWidth: "10", iconHeight: "6"})

            ul.header-menu__dropdown
                li.header-menu__dropdown-item
                    a(href="#").header-menu__dropdown-link
                        span Premial

                        .header-menu__dropdown-img
                            img(src="%=static=%img/assets/modal/1.png" alt="alt")

                li.header-menu__dropdown-item
                    a(href="#").header-menu__dropdown-link
                        span Amra

                        .header-menu__dropdown-img
                            img(src="%=static=%img/assets/modal/2.png" alt="alt")

                li.header-menu__dropdown-item
                    a(href="#").header-menu__dropdown-link
                        span Relux

                        .header-menu__dropdown-img
                            img(src="%=static=%img/assets/modal/3.png" alt="alt")

                li.header-menu__dropdown-item
                    a(href="#").header-menu__dropdown-link
                        span Safira

                        .header-menu__dropdown-img
                            img(src="%=static=%img/assets/modal/4.png" alt="alt")

                li.header-menu__dropdown-item
                    a(href="#").header-menu__dropdown-link
                        span Welma

                        .header-menu__dropdown-img
                            img(src="%=static=%img/assets/modal/5.png" alt="alt")


        li.header-menu__item.header-menu__item--drop(class=(name === "about" ? "header-menu__item--active" : undefined))
            a(href="about.html").header-menu__link
                span О компании
                != pugHelpers.Icon.call(locals, {iconName: "angle-down", className: "", iconWidth: "10", iconHeight: "6"})

            ul.header-menu__dropdown
                li.header-menu__dropdown-item
                    a(href="about.html#about-video").header-menu__dropdown-link
                        span Видео о компании

                li.header-menu__dropdown-item
                    a(href="about.html#about-edge").header-menu__dropdown-link
                        span Преимущества

                li.header-menu__dropdown-item
                    a(href="about.html#about-management").header-menu__dropdown-link
                        span Менеджмент

                li.header-menu__dropdown-item
                    a(href="about.html#about-gallery").header-menu__dropdown-link
                        span Галлерея

                li.header-menu__dropdown-item
                    a(href="vacancies.html").header-menu__dropdown-link
                        span Вакансии



        li.header-menu__item(class=(name === "blog" ? "header-menu__item--active" : undefined))
            a(href="blog.html").header-menu__link
                span Новости

        li.header-menu__item(class=(name === "vacancies" ? "header-menu__item--active" : undefined))
            a(href="vacancies.html").header-menu__link
                span Вакансии

        li.header-menu__item(class=(name === "contacts" ? "header-menu__item--active" : undefined))
            a(href="contacts.html").header-menu__link
                span Контакты
