mixin header-menu(data)
    ul.header-menu
        li.header-menu__item
            a(href="#").header-menu__link Главная
        li.header-menu__item
            a(href="#").header-menu__link Каталог
        li.header-menu__item
            a(href="#").header-menu__link О компании
        li.header-menu__item
            a(href="#").header-menu__link Новости
        li.header-menu__item
            a(href="#").header-menu__link Вакансии
        li.header-menu__item
            a(href="#").header-menu__link Контакты
