mixin contacts(data)
    section.contacts

        .contacts__container

            h2.contacts__title Контакты

            .contacts__contact

                .contacts__wrap

                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "phone", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Приемная:

                            .contacts__phone
                                span Тел 1:
                                =" "
                                a(href="tel:+78652667810") +7 (8652) 66-78-10

                            .contacts__phone
                                span Тел 2:
                                =" "
                                a(href="tel:+78782266366") +7 (8782) 26-63-66

                            .contacts__mail
                                span Электронная почта:
                                =" "
                                a(href="mailto:bumfa@bumfa.ru") bumfa@bumfa.ru




                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "envelope", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Почтовый адрес:

                            .contacts__address
                               p 369009, Россия, г. Черкесск, ул. Демиденко, 157 Г



                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "balance-scale-right", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Юридический адрес:

                            .contacts__address
                               p 369000, Россия, г. Черкесск, ул. Привокзальная, 16



                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "question", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Вопросы и предложения:

                            .contacts__phone
                                a(href="tel:+78006005775") +7 (800) 600-57-75




                .contacts__wrap

                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "user-friends", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Информационно технический отдел:

                            .contacts__phone
                                span Тел 1:
                                =" "
                                a(href="tel:+78652667810") +7 (8652) 66-78-10 доб. 901

                            .contacts__mail
                                span Электронная почта:
                                =" "
                                a(href="mailto:haritonovav@bumfa.ru") haritonovav@bumfa.ru




                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "user-friends", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Отдел частной марки:

                            .contacts__phone
                                span Тел 1:
                                =" "
                                a(href="tel:+78652667810") +7 (8652) 66-78-10 доб. 901

                            .contacts__mail
                                span Электронная почта:
                                =" "
                                a(href="mailto:haritonovav@bumfa.ru") haritonovav@bumfa.ru




                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "user-friends", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Группа сопровождения 1С:

                            .contacts__phone
                                span Тел 1:
                                =" "
                                a(href="tel:+78652667810") +7 (8652) 66-78-10 доб. 901

                            .contacts__mail
                                span Электронная почта:
                                =" "
                                a(href="mailto:haritonovav@bumfa.ru") haritonovav@bumfa.ru




                    .contacts__item
                        .contacts__icon
                            != pugHelpers.Icon.call(locals, {iconName: "user-friends", className: "", iconWidth: "15", iconHeight: "15"})

                        .contacts__text
                            h4 Отдел материально-технического снабжения:

                            .contacts__phone
                                span Тел 1:
                                =" "
                                a(href="tel:+78652667810") +7 (8652) 66-78-10 доб. 901

                            .contacts__mail
                                span Электронная почта:
                                =" "
                                a(href="mailto:haritonovav@bumfa.ru") haritonovav@bumfa.ru


