mixin about-gallery(data)
    ul.about-gallery
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-1.jpg" alt="alt")

                h4.about-gallery__text Производственный цех
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-2.jpg" alt="alt")

                h4.about-gallery__text Распределительная
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-3.jpg" alt="alt")

                h4.about-gallery__text Производство
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-4.jpg" alt="alt")

                h4.about-gallery__text Материалы
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-5.jpg" alt="alt")

                h4.about-gallery__text Изготовление материала
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-6.jpg" alt="alt")

                h4.about-gallery__text Переработка сырья
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-7.jpg" alt="alt")

                h4.about-gallery__text Упаковка
        li.about-gallery__item
            a(href="#").about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-8.jpg" alt="alt")

                h4.about-gallery__text Упаковочный станок
