mixin about-gallery(data)
    ul.about-gallery
        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-1.jpg" data-fancybox='gallery').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-1.jpg" alt="alt")


                h4.about-gallery__text Производственный цех

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')
                a(data-fancybox='gallery', href='https://source.unsplash.com/O7qK1vQY3p0/1519x2279')

        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-2.jpg" data-fancybox='gallery-2').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-2.jpg" alt="alt")

                h4.about-gallery__text Распределительная

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-2', href='https://source.unsplash.com/ty4X72BSsXY/416x278')


        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-3.jpg" data-fancybox='gallery-3').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-3.jpg" alt="alt")

                h4.about-gallery__text Производство

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-3', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')

        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-4.jpg" data-fancybox='gallery-4').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-4.jpg" alt="alt")

                h4.about-gallery__text Материалы

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-4', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')

        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-5.jpg" data-fancybox='gallery-5').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-5.jpg" alt="alt")

                h4.about-gallery__text Изготовление материала

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-5', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')

        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-6.jpg" data-fancybox='gallery-6').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-6.jpg" alt="alt")

                h4.about-gallery__text Переработка сырья

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-6', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')

        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-7.jpg" data-fancybox='gallery-7').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-7.jpg" alt="alt")

                h4.about-gallery__text Упаковка

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-7', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')

        li.about-gallery__item
            a(href="%=static=%img/assets/about-gallery/img-8.jpg" data-fancybox='gallery-8').about-gallery__link
                .about-gallery__img
                    img(src="%=static=%img/assets/about-gallery/img-8.jpg" alt="alt")

                h4.about-gallery__text Упаковочный станок

            .about-gallery__hide(style="display: none;")
                a(data-fancybox='gallery-8', href='https://source.unsplash.com/lSXpV8bDeMA/1536x2304')

