.contacts-form {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #ffffff;
    background-image: url('%=static=%assets/contacts-form/bg.png');
    background-repeat: no-repeat;
    background-position: 50% 0;

    @include min($screen-lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.contacts-form__container {
    @include container();
}

.contacts-form__wrapper {
    margin: 0 auto;
    max-width: 625px;
}

.contacts-form__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #444344;

    @include min($screen-md) {
        margin-bottom: 40px;
        font-size: 40px;
    }

    @include min($screen-xl) {
        margin-bottom: 50px;
        font-size: 50px;
        line-height: 1;
    }
}

.contacts-form__text {
    margin: 0 auto 40px;
    width: 100%;
    max-width: 420px;
    font-size: 14px;
    font-weight: 400;
    color: #444344;

    @include min($screen-md) {
        margin-bottom: 60px;
    }

    @include min($screen-xl) {
        margin-bottom: 65px;
        font-size: 15px;
    }
}

.contacts-form__row {
    @include row();
}

.contacts-form__field {
    @include col();
    @include col(md, 6);

    margin-bottom: 20px;
    text-align: left;

    @include min($screen-lg) {
        margin-bottom: 30px;
    }
}

.contacts-form__label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #444344;

    @include min($screen-lg) {
        font-size: 15px;
    }
}

.contacts-form__input {
    padding: 0 25px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    box-shadow: 5px 9px 24px rgba(0, 0, 0, .04);

    @include min($screen-xl) {
        height: 67px;
    }
}

.contacts-form__textarea {
    margin-bottom: 20px;
    text-align: left;

    @include min($screen-lg) {
        margin-bottom: 30px;
    }

    textarea {
        padding: 20px 25px;
        width: 100%;
        height: 150px;
        resize: none;
        background-color: #ffffff;
        border: 1px solid #e8e8e8;
        box-shadow: 5px 9px 24px rgba(0, 0, 0, .04);

        @include min($screen-md) {
            height: 185px;
        }
    }
}

.contacts-form__file-upload {
    margin-bottom: 25px;
    max-width: 215px;
}

.contacts-form__file-checkbox {
    text-align: left;
}

// Form map style

.contacts-form--map {
    text-align: left;
    background-color: transparent;
    background-image: none;

    .contacts-form__text {
        margin: 0 0 30px;
        max-width: 490px;
        font-size: 16px;
        font-weight: 600;
        color: #444344;

        @include min($screen-md) {
            margin-bottom: 60px;
            font-size: 21px;
            font-weight: 500;
            color: #5b5b5b;
        }
    }

    .contacts-form__wrapper {
        margin: 0;
        max-width: 850px;
    }

    .contacts-form__field {
        @include col();
        @include col(md, 6);
        @include col(lg, 4);

        &--file {
            @include col(md, 12);
            @include col(lg, 8);

            @include min($screen-lg) {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .contacts-form__file-upload {
        //margin-bottom: 0;
        margin-top: 15px;
        margin-bottom: 1px;
        max-width: 415px;

        @include min($screen-lg) {
            margin-top: auto;
        }

        label {
            padding: 5.5px;

            @include min($screen-xl) {
                padding: 9px;
            }
        }
    }
}
