mixin main-news(data)
    section.main-news
        .main-news__container

            h2.main-news__title Новости

            ul.main-news__list

                li.main-news__item

                    a(href="#").main-news__link
                        .main-news__img
                            img(src="%=static=%img/assets/main-news/1.png" alt="alt")

                        .main-news__descr
                            h4.main-news__descr-title Вести России
                            p.main-news__text Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...
                            span.main-news__date 29 Декабря 2019

                li.main-news__item

                    a(href="#").main-news__link
                        .main-news__img
                            img(src="%=static=%img/assets/main-news/2.png" alt="alt")

                        .main-news__descr
                            h4.main-news__descr-title Международная выставка «PLMA`s World of Private
                            p.main-news__text Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...
                            span.main-news__date 29 Декабря 2019

                li.main-news__item

                    a(href="#").main-news__link
                        .main-news__img
                            img(src="%=static=%img/assets/main-news/3.png" alt="alt")

                        .main-news__descr
                            h4.main-news__descr-title Международная выставка «PLMA`s World of Private
                            p.main-news__text Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...
                            span.main-news__date 29 Декабря 2019

                li.main-news__item

                    a(href="#").main-news__link
                        .main-news__img
                            img(src="%=static=%img/assets/main-news/4.png" alt="alt")

                        .main-news__descr
                            h4.main-news__descr-title Вести России
                            p.main-news__text Тим Шеперд — директор дизайн-направления Aedas.
                            span.main-news__date 29 Декабря 2019

            .main-news__btn
                a(href="#").btn.btn--icon-arrow.btn--purple Больше новостей
