// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {
    //margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-right: 15px;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: #444344;
        background-color: #ffffff;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: border $transition-time;

        @include min($screen-lg) {
            width: 50px;
            height: 50px;
            font-size: 17px;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &--active {
            color: #ffffff;
            background-color: #9d4dd6;
        }

        @at-root a#{&} {
            &:hover,
            &:focus {
                border: 1px solid #9d4dd6;
                //background-color: $gray-lightest;
            }
        }

        @at-root span#{&} {
            cursor: default;
        }
    }
}
