mixin blog(data)
    section.blog

        .blog__container

            .blog__wrapper

                .blog__title
                    h2 Новости
                    a(href="#") Смотреть все


                ul.blog__list

                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-1.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Вести России

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/about-video/video.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-2.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-3.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-4.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-1.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-2.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-3.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



            .blog__wrapper

                .blog__title
                    h2 Видеоблог
                    a(href="#") Смотреть все


                ul.blog__list

                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-1.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Вести России

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/about-video/video.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-2.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-3.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-4.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-1.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-2.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img.blog__img--video
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-3.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



            .blog__wrapper

                .blog__title
                    h2 Статьи
                    a(href="#") Смотреть все


                ul.blog__list

                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-1.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Вести России

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/about-video/video.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-2.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-3.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-4.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-1.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-2.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019



                    li.blog__item

                        a(href="#").blog__link

                            .blog__img
                                +embed-responsive('blog')
                                    img(src="%=static=%img/assets/blog/img-3.jpg" alt="alt")

                            .blog__descr

                                h3.blog__subtitle Международная выставка «PLMA`s World of Private

                                .blog__text
                                    p Хлопок – это стратегическое сырье на нашем рынке. Информация с полей Ставрополья. Уборка...

                                span.blog__date 29 декабря 2019

