mixin main-slider(data)
    .main-slider
        .swiper-container.main-slider__container
            .swiper-wrapper
                .swiper-slide.main-slider__slide Slide 1
                .swiper-slide.main-slider__slide Slide 2
                .swiper-slide.main-slider__slide Slide 3
            .swiper-button-prev.main-slider__prev
            .swiper-button-next.main-slider__next
