mixin main-slider(data)
    .main-slider
        .swiper-container.main-slider__slider

            .swiper-wrapper

                .swiper-slide.main-slider__slide
                    .main-slider__img
                        img(src="%=static=%img/assets/main-slider/1.jpg" alt="alt")
                .swiper-slide.main-slider__slide
                    .main-slider__img
                        img(src="%=static=%img/assets/main-slider/2.jpg" alt="alt")
                .swiper-slide.main-slider__slide
                    .main-slider__img
                        img(src="%=static=%img/assets/main-slider/3.jpg" alt="alt")
                .swiper-slide.main-slider__slide
                    .main-slider__img
                        img(src="%=static=%img/assets/main-slider/4.jpg" alt="alt")
                .swiper-slide.main-slider__slide
                    .main-slider__img
                        img(src="%=static=%img/assets/main-slider/5.jpg" alt="alt")
                .swiper-slide.main-slider__slide
                    .main-slider__img
                        img(src="%=static=%img/assets/main-slider/6.jpg" alt="alt")

            .main-slider__container
                .swiper-button-prev.main-slider__prev
                .swiper-button-next.main-slider__next
