.main-slider {
    .swiper-slide {
        height: auto;
    }
}

.main-slider__slider {
    padding-bottom: 110px;

    @include min($screen-md) {
        padding-bottom: 0;
    }
}

.main-slider__container {
    @include container();

    position: absolute;
    bottom: 60px;

    @include min($screen-md) {
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.main-slider__slide {
    display: flex;
}

.main-slider__img {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main-slider__prev,
.main-slider__next {
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: -2px 13px 21px rgba(0, 0, 0, .09);
    transition: border $transition-time;

    &::before {
        content: '';
        position: absolute;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
    }

    &::after {
        content: '';
        display: block;
        width: 18px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:hover,
    &:focus {
        border: 1px solid #a35cd6;
        outline: none;
        //border: 1px solid transparent;
    }

    &:active {
        border: 1px solid transparent;
        box-shadow: 0 13px 21px rgba(0, 0, 0, .09);
    }
}

.main-slider__prev {
    left: calc(50% - 80px);

    @include min($screen-md) {
        right: auto;
        left: 10px;
    }

    &::after {
        background-image: svg-load('arrow-left.svg', fill= '#9d4dd6');
    }
}

.main-slider__next {
    right: calc(50% - 80px);

    @include min($screen-md) {
        right: 10px;
        left: auto;
    }

    &::after {
        background-image: svg-load('arrow-right.svg', fill= '#9d4dd6');
    }
}
